<header class="header">
    <div class="container">
        
        <div class="logo">
            <h1>Gomes Moveis</h1>
        </div>
        <ul class="menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Cadeiras</a></li>
            <li><a href="">Mesas</a></li>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Corporativo</a></li>
            <li><a href="">Contato</a></li>
        </ul>
        <li class="li-busca">
            <input type="text"
            placeholder="Buscar produtos...">
        </li>
        <button class="btn-whatsapp">
            WhatsApp
        </button>
    </div>
</header>