<header class="header">
    <div class="container-header">
        <div class="logo-header">
            <h1>Gomes Móveis</h1>
        </div>
        <ul class="menu-header">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'produtos' %}">Produtos</a></li>
            <li><a href="">Mesas</a></li>
            <li><a href="">Cadeiras</a></li>
            <li><a href="">Executivo</a></li>
            <li><a href="">Contato</a></li>
        </ul>
        <li class="li-busca-header">
            <input type="text"
            placeholder="Buscar produtos...">
        </li>
        <button class="btn-whatsapp-header">
            WhatsApp
        </button>
    </div>
</header>