{% extends 'base.html' %}

{% block content %}
<div class="container-img">
    <div class="container-hero">
        <h1>Conforto e <br> produtividade para o <br> seu escritório</h1>
        <p>Móveis ergonômicos que transformam seu espaço de trabalho.</p>
        <div class="container-btn">
            <button class="comprar-cadeiras-btn">
                Comprar Cadeiras
            </button>
            <button class="ver-mesas-btn">
                Ver Mesas
            </button>
        </div>
    </div>
</div>
<div class="container-catergoria">
    <div class="container-hero-categoria">
        <h2>Categorias Principais</h2>
        <div class="categorias">
            <button class="executivo">
                <p>Cadeiras Executivas</p>
            </button>
            <button class="gamer">
                <p>Cadeiras Gamer</p>
            </button>
            <button class="ergonomica">
                <p>Cadeiras Ergonômicas</p>
            </button>
            <button class="escritorio">
                <p>Mesas de Escritório</p>
            </button>
            <button class="home-office">
                <p>Mesas para Home Office</p>
            </button>
        </div>
    </div>
</div>
<div class="container-destaque">
    <div class="container-hero-destaque">
        <div class="produto-destaque">
            <h3>Produtos em Destaque</h3>
        </div>
        <div class="container-txt-destaque">
            <p>Selecionamos os melhores móveis para transformar seu ambiente de trabalho</p>
        </div>
        <div class="container-produto">
            <div class="produto">
                <div class="img-produto">

                </div>
                <div class="paragrafo-produto">
                    <p>teste produto</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}