{% extends 'base.html' %}
{% load static %}

{% block title %}Início | Gomes Móveis{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-img">
    <div class="container-hero">
        <h1>Conforto e <br> produtividade para o <br> seu escritório</h1>
        <p>Móveis ergonômicos que transformam seu espaço de trabalho.</p>
        <div class="container-btn">
            <button class="comprar-cadeiras-btn" data-url="{% url 'produtos' %}?tipo=cadeira">
                Comprar Cadeiras
            </button>
            <button class="ver-mesas-btn" data-url="{% url 'produtos' %}?tipo=mesa">
                Ver Mesas
            </button>
        </div>
    </div>
</div>
<div class="container-catergoria">
    <div class="container-hero-categoria">
        <h2>Categorias Principais</h2>
        <div class="categorias">
            <button class="executivo" data-url="{% url 'produtos' %}?categoria=executiva">
                <p>Cadeiras Executivas</p>
            </button>
            <button class="gamer" data-url="{% url 'produtos' %}?categoria=diretor">
                <p>Cadeiras Diretor</p>
            </button>
            <button class="ergonomica" data-url="{% url 'produtos' %}?categoria=presidente">
                <p>Cadeiras Presidente</p>
            </button>
            <button class="escritorio" data-url="{% url 'produtos' %}?categoria=mesas-retas">
                <p>Mesas de Reta</p>
            </button>
            <button class="home-office" data-url="{% url 'produtos' %}?categoria=mesas-em-l">
                <p>Mesas em L</p>
            </button>
        </div>
    </div>
</div>

<div class="container-destaque">
    <div class="container-hero-destaque">
        <div class="produto-destaque">
            <h3>Produtos em Destaque</h3>
        </div>
        <div class="container-txt-destaque">
            <p>Selecionamos os melhores móveis para transformar seu ambiente de trabalho</p>
        </div>
        <div class="container-produto">
            {% for produto in produtos_destaque %}
            <a href="{% url 'produto' produto.slug %}" class="produto">
                <div class="img-container">
                    <img class="img-produto" src="{{ produto.imagens.first.imagem.url }}">
                </div>
                <div class="paragrafo-produto">
                    <p>{{ produto.nome }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-visao">
    <div class="container-descricao-visao">
        <div class="descricao-visao">
            <div class="sobre">
                <h4>Sobre a Gomes Móveis</h4>
            </div>
            <div class="visao">
                <p> 
                    Há mais de 50 anos no mercado, a <strong>Gomes Móveis</strong> é referência em móveis ergonômicos e de alta qualidade para escritórios, home office e espaços corporativos.
                </p>
                <br>
                <p>
                    Nossa missão é proporcionar <strong>conforto, produtividade</strong> e <strong>bem-estar</strong> através de produtos cuidadosamente selecionados e testados.
                </p>
                <br>
                <p>
                    Cada peça é escolhida pensando na <strong>ergonomia</strong> e na durabilidade, garantindo que seu investimento seja de longo prazo e contribua para a saúde e eficiência no trabalho.
                </p>
                <br>
                <br>
            </div>
        </div>
        <div class="infos-visao">
            <div class="anos">
                <h1>
                   50+ 
                </h1>
                <p>
                    Anos de Experiência
                </p>
            </div>
            <div class="clientes">
                <h1>
                   10k+ 
                </h1>
                <p>
                    Clientes Satisfeitos
                </p>
            </div>
            <div class="avaliacao">
                <h1>
                   98%
                </h1>
                <p>
                    Avaliações Positivas
                </p>
            </div>
        </div>
    </div>

    <div class="container-img-visao">
        <div class="img-visao">
            <img src="/static/images/img-visao.jpg">
        </div>
    </div>
</div>


<div class="footer">
    <br><br><br><br><br>
    <div class="container-footer">
        <div class="Atendimento-footer">
            <h1>Atendimento</h1>
            <ul class="mov">
                <li><a href="">Contato</a></li>
                <li><a href="">Garantia</a></li>
            </ul>
        </div>
        <div class="Categorias-footer">
            <h1>Categorias</h1>
            <ul class="mov">
                <li><a href="{% url 'produtos' %}?tipo=cadeira">Cadeiras</a></li>
                <li><a href="{% url 'produtos' %}?tipo=mesa">Mesas</a></li>
                <br>
            </ul>
        </div>
        <div class="Redes-Sociais-footer">
            <h1>Redes Sociais</h1>
            <p>Siga-nos nas redes sociais</p>
            <div class="icon-footer">
                <a href="https://www.instagram.com/gomesmoveis.escritorio/" target="_blank">
                    <i class="fa-brands fa-instagram instagram"></i>
                </a>
                <a href="https://www.facebook.com/gomesmoveis.escritorio?locale=pt_BR" target="_blank">
                    <i class="fa-brands fa-facebook facebook"></i>
                </a>
            </div>
            
        </div>
    </div>
    <div class="container-direitos">
        <h1>
            Gomes Móveis
        </h1>
        <p>
            © Gomes Móveis. Todos os direitos reservados. <br><br>
            São Miguel do Oeste e Região. <br><br>
            <button class="feitopor" data-url="https://www.instagram.com/matheus.lllopes/" >Feito por piixel.</button>
        </p>
    </div>
</div>




{% endblock %}