{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/produto.js' %}"></script>
{% endblock %}


{% block content %}
<div class="move">
    <a href="{% url 'inicio' %}">voltar</a>
    <p>/</p>
    <a href="{% url 'produtos' %}">produtos</a>
    <p>/</p>
    <p>{{ produto.nome }}</p>
</div>

<div class="container-produto">
    <div class="container-produto-principal">
        <div class="img-produto">
            <div class="img-1-produto">
                <img id="img-principal" src="{{ produto.imagens.first.imagem.url }}">
            </div>
            <div class="mini-img-produto">
                <img class="miniatura" src="{{ produto.imagens.all.first.imagem.url }}">
                <img class="miniatura" src="{{ produto.imagens.all.1.imagem.url }}">
                <img class="miniatura" src="{{ produto.imagens.all.2.imagem.url }}">
            </div>
        </div>

        <div class="container-descricao-produto">
            <div class="nome-produto">
                <h1>{{ produto.nome }}</h1>
            </div>
            <div class="descricao-produto">
                <h1>descrição:</h1>
                <p>{{ produto.descricao|linebreaksbr }}</p>
            </div>
            <div class="container-whats">
                <div class="compartilhar">
                    Compartilhar
                </div>
                <button class="btn-whats">
                    <p class="whats" href="">
                        Comprar!!
                    </p>
                </button>
            </div>
        </div>
    </div>
    <div class="relacionado">
        <h1>Produtos Relacionados</h1>
    </div>
    <div class="container-produtos-relacionados">
        {% for p in produtos_relacionados %}
        <a href="{% url 'produto' p.slug %}">
            <div class="img-container">
                <img src="{{ p.imagens.first.imagem.url }}">
            </div>
            <div class="paragrafo-produto">
                <p>{{ p.nome }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- alerta quando clica no whats que no css ta como COMPRAR! kk-->
<div id="alerta" class="alerta">
    <div class="alerta-conteudo">
        <span class="fechar" onclick="">x</span>

        <h2>Onde você mora?</h2>
        <p class="descricao-alerta">selecione qual cidade você mora.</p>
        <div class="container-btn-alerta">
            <button class="pinhalzinho">
                <p>Pinhalzinho</p>
            </button>
            <button class="smo">
                <p>São Miguel do Oeste</p>
            </button>
        </div>
    </div>
</div>




<div class="footer">
    <br><br><br><br><br>
    <div class="container-footer">
        <div class="Atendimento-footer">
            <h1>Atendimento</h1>
            <ul class="mov">
                <li><a href="">Contato</a></li>
                <li><a href="">Garantia</a></li>
            </ul>
        </div>
        <div class="Categorias-footer">
            <h1>Categorias</h1>
            <ul class="mov">
                <li><a href="">Cadeiras</a></li>
                <li><a href="">Mesas</a></li>
                <li><a href="">Ofertas</a></li>
                <br>
            </ul>
        </div>
        <div class="Redes-Sociais-footer">
            <h1>Redes Sociais</h1>
            <p>Siga-nos nas redes sociais</p>
            <div class="icon-footer">
                <a href="https://www.instagram.com/gomesmoveis.escritorio/" target="_blank">
                    <i class="fa-brands fa-instagram instagram"></i>
                </a>
                <a href="https://www.facebook.com/gomesmoveis.escritorio?locale=pt_BR" target="_blank">
                    <i class="fa-brands fa-facebook facebook"></i>
                </a>
            </div>
            
        </div>
    </div>
    <div class="container-direitos">
        <h1>
            Gomes Móveis
        </h1>
        <p>
            © 2026 Gomes Móveis. Todos os direitos reservados.
        </p>
    </div>
</div>
{% endblock %}