{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/produtos.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/produtos.js' %}"></script>
{% endblock %}

{% block content %}
<!-- conteudo -->



<!-- aqui ta puxando todos os produtos mas tem que mudar pra puxar nao todos de uma vez se nao vai de f o site -->
 <div class="container">
    <!-- define os filtros -->
    <div class="filtro">
        <h1>Filtros</h1>
        
        <form method="get">
            <!-- categoria -->
            <ul>
                {% for c in categorias%}
                <li>
                    <label>
                        <input type="checkbox" name="categoria" value="{{ c.slug }}"
                        {% if c.slug in request.GET.categoria %}checked{% endif %}>
                        {{ c.nome }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <!-- tipo -->
            <h3>Tipos</h3>
            <ul>
                {% for value, label in tipos %}
                <li>
                    <label>
                        <input type="checkbox" name="tipo" value="{{ value }}"
                        {% if value in request.GET.tipo %}checked{% endif %}>
                        {{ label }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="container-itens">
        <!-- produto -->
        <div class="container-produtos">
            {% for p in produtos %}
            <a href="{% url 'produto' p.slug %}">
                <div class="img-container">
                    <img src="{{ p.imagens.first.imagem.url }}">
                </div>
                <div class="paragrafo-produto">
                    <p>{{ p.nome }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}