{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock %}

{% block content %}
<div class="move">
    <a href="/">voltar</a>
    <p>/</p>
    <a href="">produtos</a>
    <p>/</p>
    <p>{{ produto.nome }}</p>
</div>

<div class="container-produto">
    <div class="container-produto-principal">
        <div class="img-produto">
            <div class="img-1-produto">
                <img src="{{ produto.imagens.first.imagem.url }}">
            </div>
            <div class="mini-img-produto">
                <button class="img-2-produto">
                    <img src="{{ produto.imagens.all.1.imagem.url }}">
                </button>
                <button class="img-3-produto">
                    <img src="{{ produto.imagens.all.2.imagem.url }}">
                </button>
                <button class="img-4-produto">
                    <img src="{{ produto.imagens.all.3.imagem.url }}">
                </button>
            </div>
        </div>

        <div class="container-descricao-produto">
            <div class="nome-produto">
                <h1>{{ produto.nome }}</h1>
            </div>
            <div class="descricao-produto">
                <h1>descrição:</h1>
                <p>{{ produto.descricao|linebreaksbr }}</p>
            </div>
            <div class="container-whats">
                <div class="compartilhar">
                    Compartilhar
                </div>
                <button class="div-whats">
                    <a class="whats" href="">
                        Comprar!!
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="container-produtos-relacionados">

    </div>
</div>



<div class="footer">
    <br><br><br><br><br>
    <div class="container-footer">
        <div class="Atendimento-footer">
            <h1>Atendimento</h1>
            <ul class="mov">
                <li><a href="">Contato</a></li>
                <li><a href="">Garantia</a></li>
            </ul>
        </div>
        <div class="Categorias-footer">
            <h1>Categorias</h1>
            <ul class="mov">
                <li><a href="">Cadeiras</a></li>
                <li><a href="">Mesas</a></li>
                <li><a href="">Ofertas</a></li>
                <br>
            </ul>
        </div>
        <div class="Redes-Sociais-footer">
            <h1>Redes Sociais</h1>
            <p>Siga-nos nas redes sociais</p>
            <div class="icon-footer">
                <a href="https://www.instagram.com/gomesmoveis.escritorio/" target="_blank">
                    <i class="fa-brands fa-instagram instagram"></i>
                </a>
                <a href="https://www.facebook.com/gomesmoveis.escritorio?locale=pt_BR" target="_blank">
                    <i class="fa-brands fa-facebook facebook"></i>
                </a>
            </div>
            
        </div>
    </div>
    <div class="container-direitos">
        <h1>
            Gomes Móveis
        </h1>
        <p>
            © 2026 Gomes Móveis. Todos os direitos reservados.
        </p>
    </div>
</div>
{% endblock %}