.container-categoria-adm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.container-categoria-adm h1{
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #4A4A4A;
}
.container-h1-adm{
    width: 100%;
}

.form-categoria-adm{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    gap: 20px;
}
.input-form-categoria-adm{
    width: 40%;
    height: 50px;
    margin-left: 10px;
    background-color: #D32F2F;
    padding: 8px 40px 8px 16px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    outline: none;
    background: #D32F2F;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    transition: transform 0.5s;
}
.input-form-categoria-adm:hover{
    transform: scale(1.03);
}

.input-form-categoria-adm::placeholder{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}
.subit-form-categoria-adm{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D32F2F;
    background-color: white;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #D32F2F;
    cursor: pointer;
    transition: transform 0.3s;
}
.subit-form-categoria-adm:hover{
    transform: scale(1.05);
}



/* table */
.table-container {
    width: 100%;
    max-height: 70vh;   /* altura do scroll */
    overflow-y: auto;    /* scroll vertical */
}
/* largura do scroll */
.table-container::-webkit-scrollbar {
    width: 8px;
}

/* fundo */
.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* “barra” do scroll */
.table-container::-webkit-scrollbar-thumb {
    background: #D32F2F;
    border-radius: 10px;
}

/* hover */
.table-container::-webkit-scrollbar-thumb:hover {
    background: #a52828;
}


.lista-categorias-adm{
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px;
}
.thead-categorias-adm{
    width: 100%;
    background-color: white;
}
.thead-categorias-adm tr{
    height: 50px;
    border-radius: 10px;

    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #4A4A4A;
}


.tbody-categorias-adm{
    height: 500px;
    background-color: #D32F2F;
}
.tbody-categorias-adm td {
    text-align: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.btns-del-adit{
    width: 100px;
}
.btn-edit-adm{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #D32F2F;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: transform 0.3s;
}
.btn-edit-adm:hover{
    transform: scale(1.05);
}

.btn-delet-adm{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D32F2F;
    background-color: white;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #D32F2F;
    cursor: pointer;
    transition: transform 0.3s;
}
.btn-delet-adm:hover{
    transform: scale(1.05);
}
.container-voltar-categoria{
    width: 100%;
    height: 50px;
}
.voltar-categoria{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #D32F2F;
    background-color: white;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #D32F2F;
    cursor: pointer;
    transition: transform 0.3s;
}
.voltar-categoria:hover{
    transform: scale(1.05);
}