{% extends 'adm/base_adm.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/adm/categorias_adm.css' %}">
{% endblock %}

{% block js %}
<script src="{% static '' %}"></script>
{% endblock %}

{% block content %}
<div class="container-categoria-adm">

    <h1>{{ acao }} Categoria</h1>
    {% if erro %}
        <p style="color:red">{{ erro }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>Nome</label>
        <input type="text" name="nome" value="{{ categoria.nome|default:'' }}" required>
        <button type="submit">{{ acao }}</button>
    </form>

    <h1>Categorias</h1>
    <div class="table-container">
        <table class="lista-categorias-adm">
            <thead class="thead-categorias-adm">
                <tr>
                    <th>Nome</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
                <tbody class="tbody-categorias-adm">
                    {% for c in categorias %}
                    <tr>
                        <td>{{ c.nome }}</td>
                        <td>{{ c.slug }}</td>
                        <td class="btns-del-adit">
                            <button class="btn-edit-adm" data-url="{% url 'adm_categoria_editar' c.id %}">Editar</button>
                            <button class="btn-delet-adm" data-url="{% url 'adm_categoria_deletar' c.id %}">Deletar</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma categoria cadastrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </table>
    </div>
</div>
{% endblock %}